{% extends "base.html" %}
{% block content %}
<div class  = "welcome-anonymous">
  <div class  = "page-anonymous">
    <div class  = "flex-fill d-flex flex-column justify-content-center py-4 mt-4">
      <div class  = "container-tight py-6 style="max-width = 60 rem"">
        <div class  = "text-center">
          <form action="/home" method = "POST" autocomplete = "off" data-submit-once>
            <input type   = "hidden" name = "noAUTO" value = "0" />
            <input type   = "hidden" name = "redirect" value = "" />
              <div class  = "row justify-content-center">
                <div class  = "col-md-5">
                    <div class  = "card-header mb-4">
                        <h2 class  = "mx-auto">Faça login para sua conta</h2>
                        </div>
                          <div   class = "mb-3">
                            <label class = "form-label" for = "username">Usuário</label>
                            <input type  = "text" class = "form-control" id = "username" name = "username" placeholder = "" tabindex = "1" />
                          </div>
                          <div   class = "mb-4">
                            <label class = "form-label" for = "password">Senha<span class = "form-label-description">
                            <a href  = "/front/lostpassword.php?lostpassword=1">Esqueceu sua senha?</a>
                              </span>
                              </label>
                              <input type = "password" class = "form-control" id = "password" name = "password" placeholder = "" autocomplete = "off" tabindex = "2" />
                            </div>
                      </div>
                      <div   class = "mb-2">
                        <label class = "form-check" for = "login_remember">
                        <input type  = "checkbox" class = "form-check-input" id = "login_remember" name = "remember" checked />
                        <span  class = "form-check-label">Lembrar de mim</span>
                        </label>
                        </div>

                      <div class="form-footer">
                        <button type="submit" name="submit" class="btn btn-primary w-100" tabindex="3">Entrar</button>
                      </div>
                      <div class="signup-button" style="margin-top:1rem">
                        <a href="/front/signup.php" class="btn btn-primary w-100"> Cadastro de usuários </a>
                      </div>
                      </div>
                      <div class="col-auto px-2 text-center">       
                                    
                    </form>
                </div>
          </div>
    </div>
  </div>
{% endblock %}  